.button--container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 32px 0;
}

.button--btn {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
}

.button--btn.white {
  border: 1px solid #D1D5DB;
  color: #1E1F26;
  padding: 9px 36px 9px 34px;
  margin-right: 16px;
}

.button--btn.blue {
  color: #FFF;
  background-color: #297FE5;
  padding: 9px 42px 9px 24px;
  margin-left: 22px;
}

.fa-envelope {
  color: #1E1F26;
  padding: 0 6px;
}

.fa-linkedin {
  color: #FFF;
  padding: 0 6px;
}
