.footer {
  max-width: 100%;
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  background-color: #D5D4D8;
}

.list--inline {
  list-style: none;
  padding: 0;
}
.list--item {
  display: inline-block;
}
