.info--container {
  padding: 4px 32px;
}

.info--title {
  font-size: 1em;
  color: var(--title-color);
  margin-top: 8px;
}

.info--paragraph {
  font-size: 0.75em;
  color: var(--text-color);
  font-weight: 400;
}

@media only screen and (min-width: 760px) {
  .info--container {
    width: 80vw;
    margin: 0 auto;
  }

  .info--title {
    font-size: 1.5em;
  }

  .info--paragraph {
    font-size: 0.875em;
  }
}

@media only screen and (min-width: 900px) {
  .info--container {
    width: 60vw;
    margin: 0 auto;
  }

  .info--title {
    font-size: 1.5em;
  }

  .info--paragraph {
    font-size: 0.875em;
  }
}
