.photo--profile {
  object-fit: contain;
  max-width: 100%;
  width: 100vw;
  height: 70%;
  overflow-x: hidden;
}

@media only screen and (min-width: 760px) {
  .photo--profile {
    width: 80vw;
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 900px) {
  .photo--profile {
    width: 60vw;
    display: block;
    margin: 0 auto;
  }
}
