.title--name {
  font-weight: 700;
  font-size: 1.5625em;
  text-align: center;
  margin-bottom: 0;
}

.title--position {
  font-weight: 400;
  font-size: 0.8em;
  text-align: center;
  color: #F47D27;
  margin-top: 0;
}

.title--website{
  color: #4A4E74;
  font-size: 0.6875em;
  text-align: center;
  font-weight: 400;
}

@media only screen and (min-width: 900px) {
  .title--name {
    font-size: 2em;
  }

  .title--position {
    font-size: 1em;
  }

  .title--website {
    font-size: 0.875em;
  }
}
